
/* Coolors Exported Palette - coolors.co/fafafa-e3f2fd-db5461-686963-8aa29e */
$darkGrey: #66696C; 
$mainColour: #F25F5C; 
$secondaryColour: #4C5C68;
$thirdColour: #247BA0;
$nearWhite: #fafafa;
$lightGrey: #8d99ae;

@import url('https://fonts.googleapis.com/css?family=Lato');


html {
  height: 100%;

}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  height: 100%;
}

h1 { 
   @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
   font-size: 2em;
   } 
    font-size: 1.5em;
    text-transform: uppercase;
    color: $nearWhite;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
  } 

h2 { 
    font-size: 1em;
    text-transform: uppercase;
    color: $darkGrey;
    text-align: left;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
  } 

h3 {  
  font-family: 'Lato', sans-serif;
}

h4 {
  font-family: 'Lato', sans-serif;
    font-size: 1em;
 @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 2em;
} 
  
  
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
   @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 2em;
    line-height: 32px;
  } 
  
}

content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  position: relative;
  height: inherit;
}

#filterBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  margin-top: 20px;
  
}


.searchBar {
    font-size: 1em;
    flex: 10 1 400px;
    margin: 20px 20px 0px 20px;
   @media only screen and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 2em;
      height: 100px;
      flex: 1 1 100%;
  } 
}


.chooser {
    font-size: 1em;
    flex: 1 0 120px;
    margin: 20px 20px 0px 20px;
   @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
   font-size: 2em;
    flex: 1 1 40%;
    margin: 20px 20px 0px 20px;
  } 
  vertical-align: bottom;
}

.navBar {
  background-color: $mainColour;
h1 {
    padding-left: 20px;
    align-self: center;
  } 
}


.listOfCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 0px 20px 0px 20px;
}


.gymCard {
    flex: 0 1 285px;
    font-size: 1em;
   @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
      flex: 0 1 95%;
      font-size: 2em;
   }
  margin: 10px;
  margin-top: 20px;
  color: $lightGrey;
}


.separator {
    flex: 0 0 100%;
    color: black;
    p {
        font-size: 18px;
        margin: 18px 0px 5px 0px;
    }
}

hr {
    border: 0;
    height: 0;
    margin: 0px 0px 8px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
