/* Coolors Exported Palette - coolors.co/fafafa-e3f2fd-db5461-686963-8aa29e */
@import url("https://fonts.googleapis.com/css?family=Lato");
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 1em; } }
html {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  height: 100%; }

h1 {
  font-size: 22px;
  text-transform: uppercase;
  color: #fafafa;
  text-align: left;
  vertical-align: middle;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
      font-size: 36px; } }

h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #66696C;
  text-align: left;
  vertical-align: middle;
  font-family: 'Lato', sans-serif; }

h3 {
  font-family: 'Lato', sans-serif; }

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 18px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    h4 {
      font-size: 36px; } }

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    p {
      font-size: 32px;
      line-height: 32px; } }

content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  position: relative;
  height: inherit; }

#filterBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  margin-top: 20px; }

input {
  color: #8d99ae;
  font-size: 14px;
  height: 40px;
  flex: 1 1 70%;
  margin: 20px 20px 0px 20px;
  text-align: left;
  border: 1px solid #8d99ae;
  padding: 0px 0px 0px 10px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    input {
      font-size: 36px;
      height: 100px;
      flex: 1 1 100%;
      margin: 20px 20px 0px 20px; } }

select {
  font-size: 14px;
  height: 40px;
  flex: -1 1 5%;
  margin: 20px 20px 20px 0px;
  order: 1;
  padding: 0px 0px 0px 10px;
  color: #8d99ae;
  vertical-align: bottom;
  background-color: white;
  border: 1px solid #8d99ae;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    select {
      font-size: 36px;
      height: 100px;
      flex: 1 1 40%;
      margin: 20px 20px 40px 20px; } }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0px auto;
  height: 50px;
  background-color: #F25F5C; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .navBar {
      height: 100px; } }
  .navBar h1 {
    padding-left: 20px;
    align-self: center; }

.listOfCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center; }

.mdl-card {
  flex: 0 0 250px;
  margin: 20px;
  color: #8d99ae;
  font-family: 'Lato', sans-serif; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .mdl-card {
      flex: 0 1 60%; } }

.mdl-card__title {
  font-family: 'Lato', sans-serif;
  color: white;
  background: #444444;
  opacity: 0.8; }

.mdl-card__title-text {
  font-size: 18px;
  text-align: center;
  margin: 0 auto; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .mdl-card__title-text {
      font-size: 36px; } }

.mdl-card__supporting-text {
  padding: 5px;
  text-align: left; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .mdl-card__supporting-text {
      text-align: center; } }

/*# sourceMappingURL=app.css.map */
