
/* Coolors Exported Palette - coolors.co/fafafa-e3f2fd-db5461-686963-8aa29e */
$darkGrey: #66696C; 
$mainColour: #F25F5C; 
$secondaryColour: #4C5C68;
$thirdColour: #247BA0;
$nearWhite: #fafafa;
$lightGrey: #8d99ae;

$break-small: 1000px;
$break-large: 1200px;

/* iPhone 6 portrait */





@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  height: 100%;

}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  height: 100%;
}

h1 { 
   @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
   font-size: 36px;
   } 
    font-size: 22px;
    text-transform: uppercase;
    color: $nearWhite;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
  } 

h2 { 
    font-size: 18px;
    text-transform: uppercase;
    color: $darkGrey;
    text-align: left;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
  } 

h3 {  
  font-family: 'Lato', sans-serif;
}

h4 {
  font-family: 'Lato', sans-serif;
    font-size: 18px;
 @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 36px;
} 
  
  
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
   @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 32px;
    line-height: 32px;
  } 
  
}

content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  position: relative;
  height: inherit;
}

#filterBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  margin-top: 20px;
  
}


input {
  color: $lightGrey;
    font-size: 14px;
    height: 40px;
    flex: 1 1 70%;
    margin: 20px 20px 0px 20px;
   @media only screen and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
   font-size: 36px;
    height: 100px;
    flex: 1 1 100%;
    margin: 20px 20px 0px 20px;
  } 
    text-align: left;
    border: 1px solid $lightGrey;
    padding: 0px 0px 0px 10px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

select {
    font-size: 14px;
    height: 40px;
    flex: -1 1 5%;
    margin: 20px 20px 20px 0px;
    order: 1;
   @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
   font-size: 36px;
    height: 100px;
    flex: 1 1 40%;
    margin: 20px 20px 40px 20px;
  } 
  padding: 0px 0px 0px 10px; 
  color: $lightGrey;
  vertical-align: bottom;
  background-color: white;
  border: 1px solid $lightGrey;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  -webkit-appearance: none; 
  -webkit-border-radius: 0px;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0px auto;
  height: 50px;
  @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
    height: 100px;
     } 
  
  background-color: $mainColour;
h1 {
    padding-left: 20px;
    align-self: center;
  } 
}


.listOfCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}


.mdl-card {
   flex: 0 0 250px;
   @media only screen    
    and (min-device-width: 320px)    
    and (max-device-width: 667px)   
    and (-webkit-min-device-pixel-ratio: 2) {
      flex: 0 1 60%; 
   }
  margin: 20px;
  color: $lightGrey;
  font-family: 'Lato', sans-serif;  
}

.mdl-card__title {
  font-family: 'Lato', sans-serif;
  color: white;
  background: #444444;
  opacity: 0.8;
}

.mdl-card__title-text{
   font-size: 18px;
   @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
  font-size: 36px;
  } 
  text-align: center;
  margin: 0 auto;
 
}

.mdl-card__supporting-text {
  padding: 5px;
   text-align: left;
   @media only screen    and (min-device-width: 320px)    and (max-device-width: 667px)   and (-webkit-min-device-pixel-ratio: 2) {
   text-align: center;
     } 
 

}

