
/* Coolors Exported Palette - coolors.co/fafafa-e3f2fd-db5461-686963-8aa29e */
$darkGrey: #66696C; 
$mainColour: #F25F5C; 
$secondaryColour: #4C5C68;
$thirdColour: #247BA0;
$nearWhite: #fafafa;
$lightGrey: #8d99ae;


@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  height: 100%;

}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  height: 100%;
}

h1 { 
    font-size: 20px;
    text-transform: uppercase;
    color: $nearWhite;
    text-align: left;
    vertical-align: middle;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
  } 

h2 { 
    font-size: 18px;
    text-transform: uppercase;
    color: $darkGrey;
    text-align: left;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
  } 

h3 {  
  font-family: 'Lato', sans-serif;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  position: relative;
  height: inherit;
}

#filterBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  margin-top: 20px;
  
}


input {
    margin: 10px;
    text-align: left;
    width: 640px;
    height: 35px;
    border: 1px solid $lightGrey;
    padding: 0px 0px 0px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

select {
  padding: 0px 0px 0px 10px; 
  margin: 10px;
  color: $lightGrey;
  vertical-align: bottom;
  background-color: white;
  height: 37px;
  width: 118px;
  border: 1px solid $lightGrey;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-appearance: none; 
  -webkit-border-radius: 0px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0px auto;
  height: 50px;
  background-color: $mainColour;
h1 {
    padding-left: 20px;
    align-self: center;
  } 
}


.listOfCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.mdl-card {
  margin: 20px;
  color: $lightGrey;
  font-family: 'Lato', sans-serif;
  width: 250px;
}

.mdl-card__title {
  font-family: 'Lato', sans-serif;
  color: white;
  background: #444444;
  opacity: 0.8;
}

.mdl-card__title-text{
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.mdl-card__supporting-text {
  padding: 5px;
}

// table {
//     padding-top: 20px;
//     margin: auto;
//     margin-top: 20px; 
//     border-collapse: collapse; 
//     font-family: 'Lato', sans-serif;
//   th, td {
//     padding: 12px 35px;
//    }

//   > tbody > tr:nth-of-type(odd) {
//     background-color: $nearWhite;
//   }
//   > tbody > tr:nth-of-type(even) {
//     color: $darkGrey;
//   }  
//   th {
//     color: $color2;
//     text-transform: uppercase;
//     font-size: 14px;
//     box-shadow: 0px 2px 2px -2px $lightGrey
//   }
// }
