@import '../app.scss';
.gym-class-table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.hidden {
        display: none;
 }
.gym-class-table {
    width: 80%;
    padding: 0px;
    display: flex;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 40px 20px 20px 20px;
    &.classic {
        font-family: "Courier";
    }
    @media all and (max-device-width: $breakpoint) {
        width: 100%;
        margin: 60px 0px;
    }
}

.gym-class-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    &.header {
        font-family: "Lato";
        font-weight: 500;
        font-size: 16px;
        padding: 10px 0px;
        text-transform: uppercase;
        color: $primaryBlue;
        @media all and (max-device-width: $breakpoint) {
        }
    }
    &:nth-of-type(even) {
        background-color: rgba(188, 188, 188, 0.1);
    }
    @media all and (max-device-width: $breakpoint) {
        flex-flow: row;
    }
}

.gym-class-table-cell {
    font-size: 15px;
    width: 20%;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 10px 15px;
    overflow: hidden;
    list-style: none;
    @media all and (max-device-width: $breakpoint) {
        width: 100%;
        font-size: 36px;
        padding: 20px 15px;
    }
}
.no-class-text-container {
    display: flex;
    width: 100%;
    justify-content:center;

}
.no-class-text {
    font-size: 24px;
    color: rgb(188, 188, 188);
    @media all and (max-device-width: $breakpoint) {
        font-size: 64px;
    }
}