$primaryBlue: #35a7ff;
$secondaryBlue: #3198e8;
$tertiaryBlue: #47afff;
$quadBlue: #2c89d1;
$pentBlue:#59b7ff;
$hexBlue:#277aba;
$septBlue:#6cbfff;
$octBlue:#226ba3;
$nonBlue:#7ec7ff;
$decBlue:#1d5c8c;
$elevenBlue: #1d5c8c;
$twelveBlue:#194c74;

$primaryRed: #ff5964;
$secondaryRed: #e8515b;
$tertiaryRed: #ff6872;
$quadRed: #d14952;
// $pentRed:
// $hexRed:
// $septRed:
// $octRed:


$primaryGreen: #6bf178;
$secondaryGreen: #62dc6e;
$tertiaryGreen: #78f284;
$quadGreen: #58c663;


$primaryWhite:  #FFFFFF;
$secondaryWhite: #f0f0f0;
$tertiaryWhite: #ffffff;
$quadWhite: #e8e8e8;

$primaryYellow: #ffe74c;
$secondaryYellow: #e8d246;
$tertiaryYellow: #ffe95c;
$quadYellow: #d1be3f;
$pentYellow:#ffeb6c;
$hexYellow:#baa938;
$septYellow:#ffed7c;
$octYellow:#a39331;
$nonYellow:#ffef8d;
$decYellow:#8c7e2a;

$primaryGrey: rgb(40%, 41.2%, 42.4%);
$secondaryGrey: rgb(20%, 21.2%, 22.4%);
$tertiaryGrey: rgb(60%, 61.2%, 62.4%);



$breakpoint: 670px;
@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:100,300,400,700,900');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0px;
    height: 100%;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    align-self: center;
    padding-bottom: 20px;
    margin: 80px 0px 20px 0px;
    @media all and (max-device-width: $breakpoint) {
        font-size: 32px;
        padding-bottom: 10px;
        margin: 40px 0px 10px 0px;
    }
}

h2 {
    font-size: 24px;
    font-weight: 300;
    align-self: center;
    padding-bottom: 10px;
    margin: 60px 0px 10px 0px;
    @media all and (max-device-width: $breakpoint) {
        font-size: 24px;
          padding-bottom: 5px;
          margin: 30px 0px 5px 0px;
    }
}

h3 {
    font-size: 18px;
    font-weight: 300;
    align-self: center;
    padding-bottom: 5px;
    margin: 40px 0px 5px 0px;
    @media all and (max-device-width: $breakpoint) {
        font-size: 18px;
        padding-bottom: 0px;
        margin: 20px 0px 0px 0px;
    }
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
      @media all and (max-device-width: $breakpoint) {
    }
}

.s-alert-info {
    text-align: center;
    background-color: $secondaryGrey;
    color: $primaryWhite;
    font-family: 'Lato', sans-serif !important;
    opacity: 0.6 !important;
    font-weight: 300;
    font-size: 14px;
    padding: 15px 20px;
    margin: 5px 0px;
}