$primaryBlue: rgba(91, 192, 235, 1);
$primaryRed: rgba(229, 89, 52, 1);
$primaryGreen: rgba(155, 197, 61, 1);
$primaryYellow: rgba(253, 231, 76, 1);
$primaryOrange: rgba(250, 121, 33, 1);
$primaryWhite: #fafafa;
$primaryGrey: #8d99ae;
$secondaryGrey: #66696C; 
$breakpoint: 670px;


@import url('https://fonts.googleapis.com/css?family=Raleway|Nunito+Sans|Lato:300,500,700,900|Open+Sans|Oswald');


html {
  height: 100%;

}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  height: 100%;
}

.title {
    display: flex;
    align-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 60px 0px 20px 0px;
    @media all and (max-device-width: $breakpoint) {
       margin-top: 100px;
    }
}

.logo {
  height: 60px;
  width: 60px;
  padding-right: 20px;
  align-self: center;
   @media all and (max-device-width: $breakpoint) {
       height: 140px;
       width: 140px;
    }
}
.container {
  display: flex;
  width: 100%;
  margin: 0px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 0px;

  h1 {
    font-weight: 100;
    align-self: center;
    @media all and (max-device-width: $breakpoint) {
       font-size: 84px;
    }
  }

}