@import "../../variables.css";

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.h2 {
    composes: header-2 from "../../typography.css"; 
}

.radioGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin: 10px 0px;
    font-family: var(--font-family-sans-serif);
}

.radio {

    margin: 0px 10px;
}